body {
  margin: 0;
  color: #4a514e;
  text-align: center;
}

p {
  font-family: "Montserrat";
}

h1 {
  color: #66BFBF;
  font-family: "Just Another Hand";
  font-size: 4.5rem;
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat";
  font-size: 2.5rem;
}

h3 {
  color: #66BFBF;
  font-family: "Sansita Swashed";
}

hr {
  border: dotted 6px;
  border-bottom: none;
  color: #eaf6f6;
  margin: 100px auto;
  width: 10%;
}

.top-container {
  position: relative;
  background-color: #a3d8f4;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  font-size: 12px;
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.skill-row {
  font-size: 12px;
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.pc {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pepper {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.hello {
  color: #40514e;
}

.contact-me {
  text-align: center;
  font-size: 12px;
  width: 40%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.BUTTON_BJR {
   background: #66bfbf;
   background-image: -webkit-linear-gradient(top, #3D94F6, #66bfbf);
   background-image: -moz-linear-gradient(top, #3D94F6, #66bfbf);
   background-image: -ms-linear-gradient(top, #3D94F6, #66bfbf);
   background-image: -o-linear-gradient(top, #3D94F6, #66bfbf);
   background-image: -webkit-gradient(to bottom, #3D94F6, #66bfbf);
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   color: white;
   font-family: Montserrat;
   font-size: 20px;
   font-weight: bold;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid black 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_BJR:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  psition: relative;
  background-color: #a3d8f4;
  height: 150px;
}

a {
  text-decoration: none;
}

.footer-link {
  position: relative;
  top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  color: #11999e;
  margin-top: 75px
}

.trademark {
  font-size: 12px;
  margin-top: 80px;
  color: #eaf6f6;
}
